extends ../layout/index

block contenido
  div(class="min-h-screen grid content-center mx-auto max-w-xl")
    h1(class="text-4xl font-extrabold text-center") Bienes
      span(class="font-normal") Raices
    h2(class=`text-center text-2xl font-bold tracking-tighter mt-10 ${error ? "text-red-400" : "text-green-400"}`)= pagina
    form(class="mt-5 space-y-5" method="POST")
      div
        label(class="block text-md mb-2 font-semibold" for="clave") Nueva contraseña
        input#clave(class="w-full px-3 py-2 border border-gray-200 rounded" placeholder="Ingresa tu contraseña" type="password" name="clave")
        if errores
          each error in errores  
            if error.path === "clave"
              p(class="text-red-400 font-semibold before:content-['*']")= error.msg
      div
        label(class="block text-md mb-2 font-semibold" for="repetir_clave") Repetir contraseña
        input#repetir_clave(class="w-full px-3 py-2 border border-gray-200.rounded" placeholder="Repite tu contraseña" type="password" name="repetir_clave")
        if errores
          each error in errores  
            if error.path === "repetir_clave"
              p(class="text-red-400 font-semibold before:content-['*']")= error.msg
      input(type="hidden" name="_csrf" value=csrfToken)
      button(class="full-btn bg-neutral-800 hover:bg-neutral-900") Actualizar contraseña