doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Bienes raices | #{pagina}
    block styles
    link(rel="stylesheet", href="/css/app.css")
  body(class=" bg-gray-50 text-neutral-800 antialiased overflow-x-hidden")
    main(class="min-h-screen flex flex-col") 
      include includes/header-admin
      
      block contenido

      block scripts